.Wrapper {
  background-color: #333;
  text-align: center;
  padding: 20px;
  color: #ffffff;
}

img {
  border-radius: 1%;
  cursor: pointer
}

ul li {
  box-sizing: border-box;
  display: inline-block;
  margin: 10px;
  width: 300px;
  border: 1px solid white;

}

.description {
  background-color: #333333;
  width: 300px;
  height: 100px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.title {
  width: 50px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  width: 50px;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag {
  width: 50px;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}



